/* GLOBAL */

a {
    border-bottom: none;
}

/* Charlie's Chronicle */

.my-code-block {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.85em;
}

.comments {
    color: #aaaaaa;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.3em;
}

.wrapper {
    padding-left: 1em;
}

.timeline {
    padding-bottom: 1.5rem;
    padding-left: 1em;
    border-left: 1px solid #dddddd;
}

.time {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: darkgoldenrod;
}

/* Charlie's Catalogue */

#catalogue .grid-right a:hover{
    opacity: 60%;
}

#catalogue img {
    width: 6em;
    height: 6em;
    object-fit: cover;
    border-radius: 10%;
    margin-right: 1em;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 3em;
    margin-bottom: 3em;
}

.project-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.project-time {
    font-size: 0.8em;
    color: darkgoldenrod;
    letter-spacing: 0.15em;
}

.project-info {
    line-height: 1.5em;
    font-size: 0.9em;
    color: #999999;
}

.grid-left {
    grid-column: 1;
}

.grid-right {
    grid-column: 2 / 6;
}

.grid-right p {
    margin-bottom: 0;
}

/* Charlie's Crafts */

#crafts h3 {
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: normal;
    margin-top: 4em;
    margin-bottom: 3em;
}

.column h4 {
    text-align: center;
    font-weight: normal;
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#crafts p {
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 0.08em;
    margin-bottom: 3em;
    line-height: 1.5em;
}

#crafts .craft {
    margin-top: 3em;
    margin-bottom: 3em;
}

#crafts .column-wrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    #crafts .column-wrapper {
        flex-wrap: wrap;
    }

    #crafts .column {
        width: 200px;
    }
}

#crafts .column {
    flex: 50%;
}

#crafts .column:hover img {
    transform: scale(1.1);
    opacity: 50%;
}

#crafts img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 25vh;
    min-height: 75%;
    max-height: 12em;
    object-fit: cover;
    border-radius: 3%;
    transition: transform 0.5s, opacity 0.5s;
}

#alexa-skills img {
    background-color: #eaeaea;
    object-fit: contain;
    padding: 10px;
}


/* @mixin tablet-and-up {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 600px) {
        @content;
    }
}


ul, li {
    list-style: none;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: linear-gradient(45deg, #209cff, #68e0cf);
    padding: 3rem 0;
}

.wrapper {
    background: #eaf6ff;
    padding: 2rem;
    border-radius: 15px;
}

h1 {
    font-size: 1.1rem;
    font-family: sans-serif;
}

.sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
}

li {
    padding-bottom: 1.5rem;
    border-left: 1px solid #abaaed;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;

    &:last-child {
        border: 0px;
        padding-bottom: 0;
    }

    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background: white;
        border: 1px solid #4e5ed3;
        box-shadow: 3px 3px 0px #bab5f8;
        box-shadow: 3px 3px 0px #bab5f8;
        border-radius: 50%;
        position: absolute;
        left: -10px;
        top: 0px;
    }
}

.time {
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    @include mobile-and-up {
        font-size: .9rem;
    }

    @include mobile-only {
        margin-bottom: .3rem;
        font-size: 0.85rem;
    }

}

p {
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 0.4rem;

    @include mobile-only {
        font-size: .9rem;
    }
} */